*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
libs/
src/main/res/assets/
src/main/res/mipmap-hdpi/
src/main/res/mipmap-mdpi/
src/main/res/mipmap-xhdpi/
src/main/res/mipmap-xxxhdpi/
